# ignore visual studio files
.vs
# ignore build files
*.ilk
*.pdb
# ignore intermediate shader files
*.comp
*.spv
# ignore python cache
__pycache__
# ignore the sandbox directory
/Sandbox
!/Sandbox/.gitkeep